*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(30, 38%, 92%);
    width: 375px;
    border: 0ch;
}
.perf{
    background-color: white;
    width: 100%;
    margin-top:7cm;
    margin-bottom:7cm ;
    border-radius:3%;
    display: table;
    margin-left: 500px;
    margin-right: 300px;
    margin-top: 150px;
    margin-bottom: 150px;
    font-family: 'Montserrat', sans-serif;

}
.fess{
    font-size: 15px;
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat',sans-serif;
    margin-bottom: 0;
    letter-spacing: 5px;
}
img{
    height: 400px;
    width: 300px;
    vertical-align: middle;
    display: table-cell;
    border-radius: 3%;
}
.mott{
    vertical-align: middle;
    display: table-cell;
    padding-bottom: 7px;
    text-align: left;
    display: table-cell;
    padding-left: 25px;
    padding-right: 20px;
    }
    .info{
font-size: 15px;
color: hsl(228,12%, 48%);
font-family: 'Montserrat',sans-serif;
    }
    .sec{
        color: hsl(158, 36%, 37%);
        font-size: xx-large;
        font-size: 25px;
        vertical-align: middle;
        display: table-cell;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .ses{
        vertical-align: middle;
        display: table-cell;
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .mat{
        display: table;
    }
    .scents{
        font-family: 'Fraunces',serif;
        font-weight: 1000;
        color: black;
        font-size: xx-large;
        font-size: 30px;
        margin-top: 20px;
    }
    .fext{
        padding: 5px;
        margin-top: 20px;

    }
    .butt{
        background-color: green;
        color: white;
        border: none;
        text-align: center;
        display: flex;
        font-family: 'Montserrat',serif;
        border-radius:5px;
        width: 250px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 0;
        padding-left: 25px;
        font-size: 18px;
        cursor: pointer;
        
    }
    .img{
        height:15px;
         width:15px;
         padding-left: 35px;
    }
    @media (max-width:1024px) {
        body{
            width: 100%;
            margin: 0;
        }
    }
    @media (max-width:768px) {
        .perf{
            margin: 0;
            font-size: 25px;
            padding: 0;
            margin-bottom: 0;
            padding-bottom: 0;
        }
        body{
            width: 94%;
            height: 90%;
        }
        img{
            width: 360px;
        }
    }
    @media (max-width:425px) {
        .perf{
            display: flex;
            flex-direction: column;
            margin: 5px;
            width: 100%;
            
        }
        img{
            width: 100%;
        }
        .mott{
            width: 100%;
        }
    }














